/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*--------------------------------------------
        common styles or utilities
----------------------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
 flex-direction: column;
 align-items: center;
}
.container{
    background-color: #FFFFFF;
    width:870px;
    padding:30px;
    margin-top: 20px;
    border-radius: 10px;
}

/*--------------------------------
        top players style
-------------------------------- */
.section-title{
    color: #562EFF;
    font-size:24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px 30px;
}

/*----------------------------------
          top blosg styles 
------------------------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 25px;
    column-gap: 25px;
}
.blog{
    display: flex;
    align-items: center;
}
.blog .thumnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-info .blog-title{
    font-size: 20px;
}
.blog-author{
    color: #562EFF;
    font-size: 16px;
   text-decoration: none;
}

/*-------------------------------
       courses styles
-------------------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 24px;
}
.course{
    padding: 20px;
    box-shadow:1px 5.34229px 13.3557px #00000018;
    border-radius: 10px;
}
.course .course-banner img{
    width: 224px;
height: 104px;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-star.filled-star{
    color: #FFC014;
}
.fa-star.empty-star{
    color: #AEAEAE;
}
.course-duration{
    background-color:#f7a1a186;
    padding: 5px 10px;
    border-radius: 10px;
    color: red;
}


/*-------------------------------------
              media queries
--------------------------------------- */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players,.blogs{
        grid-template-columns: repeat(1,1fr); 
    }
    .player{
       flex-direction: column;
    }
    .blog{
        flex-direction: column;
    }
    .courses{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }

}

@media only screen and (min-width:689px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2,1fr); 
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .courses{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }

    .player{
       flex-direction: column;
    }
}